<% include ./partials/header %>

<div class="row">
    <h1 class="login-header">Sign Up!</h1>
    <div class="login-form">
        <form action="/register" method="POST">
            <div class="form-group"><input class="form-control" type="text" name="username" placeholder="username" autofocus></input></div>
            <div class="form-group"><input class="form-control" type="password" name="password" id="password" placeholder="password" required></input></div>
            <div class="form-group"><input class="form-control" type="password" name="passwordConfirm" id="passwordConfirm" placeholder="confirm password" required></input></div>
<!--            <div class="form-group"><input class="form-control" type="text" name="adminCode" placeholder="Admin code" autofocus></input></div>
-->            <button class="btn btn-lg btn-primary btn-block">Sign Up</button>
        </form>
        <a href="/campgrounds">Go Back</a>
    </div>
</div>

<script type="text/javascript">
    window.onload = function () {
    	document.getElementById("password").onchange = validatePassword;
    	document.getElementById("passwordConfirm").onchange = validatePassword;
    }
    function validatePassword(){
        var pass2=document.getElementById("passwordConfirm").value;
        var pass1=document.getElementById("password").value;
        if(pass1 != pass2)
        	document.getElementById("passwordConfirm").setCustomValidity("Passwords Don't Match");
        else
        	document.getElementById("passwordConfirm").setCustomValidity('');	 
            //empty string means no validation error
    }
</script>

<% include ./partials/footer %>