<% include ./partials/header %>

<div class="row text-center" style="display: flex; flex-wrap: wrap;">
    <% users.forEach(function(user){ %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail user-thumbnail">
                <img src="<%= user.avatar %>"></img>
                <div class="caption"><h4><%= user.username %></h4></div>
                <a class="btn btn-user btn-xs btn-warning pull-left" href="/users/<%= user._id %>/edit">Edit</a>
                <form class="delete-form pull-right" action="/users/<%= user._id %>?_method=DELETE" method="POST">
                    <input type="submit" class="btn btn-user btn-xs btn-danger" value="Delete"></input>
                </form>
            </div>
        </div>
    <% }); %>
</div>

<% include ./partials/footer %>