.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.delete-form {
    display: inline;
}

.login-header {
    text-align: center;
}

.login-form {
    width: 30%;
    margin: 25px auto;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}

.fa-users {
    font-size: 2em;
}

.fa-user {
    font-size: 5em;
    padding: 8px;
}

.user-thumbnail {
    padding: 30px;
}

.btn-user {
    margin: 5px;
}

.list-header {
    text-decoration: underline;
}